<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Templates 101</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <!-- Render our data -->
      <h1>Mission to Mars</h1>
    </div>

    <div class="jumbotron text-center">
      <!-- Render our data -->
      <h3>Mars Featured Image</h3>
    </div>


    <div class="jumbotron text-center">
      <!-- Render our data -->
      <h3>Latest News on Mars</h3>

      {% for scrape in scrapeMars %}
      <li>{{scrape.latest_News}}</li>
      {% endfor %}

    </div>


    <div class="jumbotron text-center">
      <!-- Render our data -->
      <h3>Current weather on Mars</h3>

      {% for scrape in scrapeMars %}
      <li> {{scrape.marsWeather}}  </li>

      
    </div>

    <div class="jumbotron text-center">
      <!-- Render our data -->
      <h3>Facts About Mars</h3>

      {% for scrape in scrapeMars %}
      <li> {{scrape.marsFacts}}  </li>

    </div>

    <div class="jumbotron text-center">
      <div class="container-fluid">
        <h2>Mars Hemispheres </h2>
        <div class="row">
          <div class="col-md-6">
            {% for scrape in scrapeMars %}
             {{scrape.Hemisphere[0]}} 
          </div>
          <div class="col-md-6">
            {% for scrape in scrapeMars %}
            {{scrape.Hemisphere[1]}} 
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            {% for scrape in scrapeMars %}
            {{scrape.Hemisphere[2]}}
          </div>
          <div class="col bg-warning">
            {% for scrape in scrapeMars %}
            {{scrape.Hemisphere[3]}}
          </div>

    </div>
</div>
</body>

</html>
